// Code from sass-lang.com
// Variable Definitions
$desktopHD: "screen and (max-width: 1200px)";
$desktop: "screen and (max-width: 1000px)";
$tablet: "screen and (max-width: 768px)";
$mobile: "screen and (max-width: 500px)";
$small-mobile: "screen and (max-width: 350px)";
// Font
$font-roboto: "Roboto", sans-serif;
// Font size
$font-size-thin : 100;
$font-size-light : 300;
$font-size-normal : 400;
$font-size-medium : 500;
$font-size-bold : 700;
// Color
$orange: #FA730D;
$white: #FFFFFF;
$gray: #5D5D5D;
$gray-line :#BFBFBD;
$gray-light: #9F9F9F;
$gray-box: #F2F2F2;
$gray-footer: #6E6E6E;
$border-coloring: #EEEEEE;

//image
$section1-background : "../images/landing/background.jpg";
$section3-sprite : "../images/landing/section3-sprite.png";
$section4-sprite : "../images/landing/section4-sprite.png";


// Global Attributes
body {
  font-family: $font-roboto;
  color: #333;
  line-height:1 !important;
}

// Scoped Styles
.section1-wrap
{
  width: 100%;
  height:auto;
  background-image: url($section1-background);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  .section1-menu {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    .top-menu-bar {
      height: 55px;
      width: 100%;
      background-color: transparent;
    }
    .logo {
      width: 50%;
      height: 55px;
      float: left;
      img {
        height: 100%;
        display: block;
      }
    }
    .button-login-register {
      width: 50%;
      height: 55px;
      float: right;
      text-align: right;
      a {
        padding: 8px 10px 5px;
        border: 2px solid $white;
        border-radius: 4px;
        color: $white;
        font-family: $font-roboto !important;
        font-weight: $font-size-light;
        text-decoration: none;
        margin-top: 7.5px;
        margin-right: 20px;
        display: inline-block;
        text-transform: uppercase;
      }
      a:hover, a:active, a:focus {
        border-color: $orange;
        background-color: $orange;
        opacity: 1 !important;
      }
    }
    .button-language {
      width: 50%;
      height: 55px;
      float: right;
      text-align: right;
      a {
        padding: 5px 20px !important;
      }
      button
      {
        margin-top: 9.5px;
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
        border-radius: 4px;
      }
      button:focus,button:active
      {
        background-color: transparent;
        border: 2px solid $white;
        color: $white;
      }
    }
  }
  .landing-section1{
    width: 100%;
    min-height:500px !important;
    .landing-information
    {
      width: 50%;
      float: left;
      height: auto;
      margin-top: 10%;
      color: $gray;
      padding-left: 4%;
      font-family: $font-roboto;
      h1{
        font-size: 34px;
        margin-bottom: 10px;
        font-weight: $font-size-light;
      }
      h2{
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: $font-size-thin;
      }
    }
  }
}

.section-space
{
  padding: 65px 0;
}
.border-container
{
  border-bottom: 1px solid $gray-line;
}
.section2-wrap
{
  width: 100%;
  height:auto;
  .landing-section2{
    width: 100%;
    height: auto;
    color: $gray;
    font-family: $font-roboto;
    h1{
      font-size: 34px;
      margin:60px 0 20px;
    }
    p{
      font-size: 20px;
      line-height: 40px;
      font-weight: $font-size-light;
    }
  }
}
.section3-wrap
{
  width: 100%;
  height:auto;
  .landing-section3{
    width: 100%;
    height: auto;
    color: $gray;
    font-family: $font-roboto;
    h1{
      font-size: 34px;
      margin:20px 0;
    }
    p{
      font-size: 20px;
      line-height: 36px;
      font-weight: $font-size-light;
    }
    .icon-box
    {
      width: 100%;
      height:auto;
      padding: 20px 0;
      color: $gray;
      font-family: $font-roboto;
      h4{
        font-size: 20px;
        margin:20px 0 10px ;
        font-weight: $font-size-normal;
      }
      p{
        font-family: $font-roboto;
        font-size: 16px;
        line-height: 24px;
        margin:10px 0;
        font-weight: $font-size-light;
        padding: 0 10px;
      }
      .icon-sprite{
        background-image: url($section3-sprite);
        height: 100px;
        margin-left: auto;
        margin-right: auto;
      }
      .icon1{width: 95px;background-position: 0 0;}
      .icon2{width: 79px;background-position: -95px 0;}
      .icon3{width: 112px;background-position: -174px 0;}
      .icon4{width: 116px;background-position: -286px 0;}
      .icon5{width: 140px;background-position: -402px 0;}
      .icon6{width: 105px;background-position: -542px 0;}
    }
  }
}
.section4-wrap {
  width: 100%;
  height: auto;
  .landing-section4 {
    width: 100%;
    height: auto;
    color: $gray;
    font-family: $font-roboto;
    h1 {
      font-size: 34px;
      margin: 0 0 60px;
    }
    p {
      font-size: 20px;
      line-height: 36px;
      font-weight: $font-size-light;
    }
    .icon-box
    {
      width: 100%;
      height:auto;
      padding: 20px 0;
      font-family: $font-roboto;
      opacity: 1;
      h4{
        font-size: 20px;
        margin:20px 0 10px ;
        font-weight: $font-size-normal;
        color: $orange;
        text-transform: uppercase;
      }
      p{
        font-family: $font-roboto;
        color: $gray;
        font-size: 16px;
        line-height: 22px;
        margin:10px 0;
        font-weight: $font-size-light;
        padding: 0 10px;
        min-height: 50px;
      }
      .icon-sprite{
        background-image: url($section4-sprite);
        height: 100px;
        margin-left: auto;
        margin-right: auto;
      }
      .icon-wrap
      {
        width: 100%;
        height:auto;
        .icon1{width: 166.9px;background-position: 0 0;}
        .icon2{width: 158.9px;background-position: -166.9px 0;}
        .icon3{width: 86px;background-position: -325.8px 0;}
        .icon4{width: 147px;background-position: -411.8px 0;}
      }
    }
  }
}

.section5-wrap {
  width: 100%;
  height: auto;
  .landing-section5 {
    width: 100%;
    height: auto;
    color: $gray;
    font-family: $font-roboto;
    h1 {
      font-size: 34px;
      margin: 0 0 20px;
    }
    p {
      font-size: 20px;
      line-height: 36px;
      font-weight: $font-size-light;
    }
    .item-wrap
    {
      width: 100%;
      height:auto;
      float: left;
      .item-box
      {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        text-align: center;
        width: 20%;
        float: left;
        height:auto;
        border-top: 1px solid $gray-line;
        border-bottom: 1px solid $gray-line;
        border-left: 1px solid $gray-line;
        border-right: 0;
      }
      .item-box:nth-child(-n+15){
        border-right: 1px solid $gray-line;
      }
      a{
        padding: 40px;
        display: block;
      }
      img
      {
        width: 100%;
      }
    }
  }
}
.section6-wrap {
  width: 100%;
  height: auto;
  .landing-section6 {
    width: 100%;
    height: auto;
    color: $gray;
    font-family: $font-roboto;
    h1 {
      font-size: 34px;
      margin:0 0 60px;
    }
    p {
      font-size: 20px;
      line-height: 36px;
      font-weight: $font-size-light;
    }
    .news-box
    {
      width: 100%;
      height:auto;
      background-color: $gray-box;
      float: left;
      .right
      {
        float: left;
        width: 62%;
        padding: 20px 20px 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .img-news
        {
          width: 100%;
        }
        .news-link
        {
          color: $gray;
          font-family: $font-roboto;
          font-size: 16px;
          font-weight: $font-size-normal;
          text-decoration: none;
          line-height:20px !important;
          :hover,:active,:focus
          {
            color: $gray;
            text-decoration: none;
            opacity: 0.8;
          }
        }
        p{
          color: $gray-light;
          font-family: $font-roboto;
          font-size: 12px;
          font-weight: $font-size-light;
          line-height:14px;
          margin-top: 20px;
          margin-bottom: 30px;
        }
        img
        {
          margin-top: 5px;
        }
        .readmore-btn
        {
          display: inline-block;
          height: auto;
          width: 100%;
          background-color: $orange;
          color: $white;
          text-align: center;
          padding: 10px 0;
          font-family: $font-roboto;
          font-size: 14px;
          font-weight: $font-size-light;
          text-decoration: none;
          border-radius: 3px;
        }
      }
      .left{
        float: left;
        width: 38%;
        a{
          display: block;
          float: left;
        }
      }
    }
  }
}

.footer-wrap {
  width: 100%;
  height: auto;
  background-color: $gray-footer;
  color: $white;
  .section-space
  {
    padding-top: 40px !important;
    padding-bottom: 10px !important;
  }
  .landing-footer {
    width: 100%;
    height: auto;
    color: $white;
    font-family: $font-roboto;
    h1 {
      font-size: 30px;
      margin: 0 0 40px;
      font-weight: $font-size-light !important;
    }
    .logo-text
    {
      line-height: 20px;
    }
    .list-bottom-menu
    {
      list-style: none !important;
      display: inline;
      text-align: center;
      padding-left: 0px;
      li{
        display: inline-block;
        padding: 0 10px;
        a{
          text-align: center;
          color: $white;
          text-decoration: none;
          font-family: $font-roboto;
          font-size: 14px;
          font-weight: $font-size-light !important;
        }
      }
    }
    .list-social
    {
      list-style: none !important;
      display: inline;
      text-align: right;
      li{
        display: inline-block;
        padding: 0 10px;
        a{
          text-align: right;
          color: $white;
          text-decoration: none;
          font-family: $font-roboto;
          font-size: 18px;
          font-weight: $font-size-light !important;
        }
      }
    }
  }
}



.form-custom
{
  label
  {
    font-family: $font-roboto;
    font-weight:$font-size-bold;
    font-size: 14px;
  }
  input{
    border-radius: 0px !important;
  }
  input:focus,input:active{
    border-color: $gray-light;
  }
  .input-orange
  {
    border-bottom: 2px solid $orange !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    text-align:center;
    :focus,:active{
      border-color: $orange !important;
      opacity: 0.9;
    }
  }
}
.form-spaces
{
  margin-bottom: 60px;
}
.btn-orange
{
  background-color: $orange !important;
  border-color: $orange !important;
  font-weight: $font-size-normal !important;
}
input{
  outline: 0 !important;
  box-shadow: none !important;
}
input:hover, input:active, input:focus
{
  outline: 0 !important;
  box-shadow: none !important;
}
a,button{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer !important;
}
a:hover, a:active, a:focus, button:hover, button:active, button:focus{
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer !important;
  opacity: 0.9;
}
.imgfull{ width: 100%; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.modal-title
{
  width: 100%;
  height:auto;
  h1{
    color: $gray;
    font-family: $font-roboto;
    font-size: 24px;
    margin: 0 0 60px;
    font-weight: $font-size-normal;

  }
}

@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?2i13sh');
  src:    url('../fonts/icomoon.eot?2i13sh#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?2i13sh') format('truetype'),
  url('../fonts/icomoon.woff?2i13sh') format('woff'),
  url('../fonts/icomoon.svg?2i13sh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-linkedin2:before {
  content: "\e903";
}
.hide-mobile
{
  display: block;
}
.show-mobile
{
  display: none;
}
@media #{$desktopHD} {

  .section6-wrap {
    width: 100%;
    height: auto;
    .landing-section6 {
      .news-box
      {
        margin-bottom: 40px;
        .right
        {
          text-align: left;
          .img-news
          {
            width: 100%;
            margin-bottom: 0;
          }
          .news-link
          {
            color: $gray;
            font-family: $font-roboto;
            font-size: 15px;
            font-weight: $font-size-normal;
            text-decoration: none;
            line-height:18px !important;
            :hover,:active,:focus
            {
              color: $gray;
              text-decoration: none;
              opacity: 0.8;
            }
          }
          p{
            color: $gray-light;
            font-family: $font-roboto;
            font-size: 10px;
            font-weight: $font-size-light;
            line-height:12px;
            margin-top: 20px;
            margin-bottom: 10px;
          }
          img
          {
            margin-top: 5px;
          }
        }
        .left{
          float: left;
          width: 38%;
          a{
            display: block;
            float: left;
          }
        }
      }
    }
  }
}
@media #{$desktop} {
  .section6-wrap {
    width: 100%;
    height: auto;
    .landing-section6 {
      .news-box
      {
        margin-bottom: 40px;
        .right
        {
          text-align: center;
          .img-news
          {
            width: auto;
            margin-bottom: 10px;
          }
          .news-link
          {
            font-size: 18px;
            line-height:20px !important;
          }
          p{
            font-size: 12px;
            line-height:14px;
            margin-top: 20px;
          }
          img
          {
            margin-top: 5px;
          }
        }
        .left{
          float: left;
          width: 38%;
          a{
            display: block;
            float: left;
          }
        }
      }
    }
  }
}
@media #{$tablet} {
  .section1-wrap
  {
    .landing-section1{
      width: 100%;
      min-height:300px !important;
      .landing-information
      {
        width: 60%;
        float: left;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        color: $gray;
        font-family: $font-roboto;
        padding-left: 0px;
        h1{
          font-size: 34px;
          margin-bottom: 10px;
          font-weight: $font-size-light;

        }
        h2{
          font-size: 24px;
          margin-bottom: 30px;
          font-weight: $font-size-thin;
        }
      }
    }
  }
  .section6-wrap {
    width: 100%;
    height: auto;
    .landing-section6 {
      width: 100%;
      height: auto;
      color: $gray;
      font-family: $font-roboto;
      h1 {
        font-size: 34px;
        margin:0 0 60px;
      }
      p {
        font-size: 20px;
        line-height: 36px;
        font-weight: $font-size-light;
      }
      .news-box
      {
        width: 100%;
        height:auto;
        background-color: $gray-box;
        float: left;
        .right
        {
          float: left;
          width: 62%;
          padding: 20px 20px 10px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          .img-news
          {
            width: auto;
          }
          .news-link
          {
            color: $gray;
            font-family: $font-roboto;
            font-size: 15px;
            font-weight: $font-size-normal;
            text-decoration: none;
            line-height:18px !important;
            :hover,:active,:focus
            {
              color: $gray;
              text-decoration: none;
              opacity: 0.8;
            }
          }
          p{
            color: $gray-light;
            font-family: $font-roboto;
            font-size: 10px;
            font-weight: $font-size-light;
            line-height:12px;
            margin-top: 20px;
          }
          img
          {
            margin-top: 5px;
          }
          .readmore-btn
          {
            display: inline-block;
            height: auto;
            width: 100%;
            background-color: $orange;
            color: $white;
            text-align: center;
            padding: 10px 0;
            font-family: $font-roboto;
            font-size: 14px;
            font-weight: $font-size-light;
            text-decoration: none;
            border-radius: 3px;
          }
        }
        .left{
          float: left;
          width: 38%;
          a{
            display: block;
            float: left;
          }
        }
      }
    }
  }
  .footer-wrap {
    .landing-footer {
      .form-control
      {
        width: 80%;
        margin: 0 10% 10px;
      }
      .btn-orange
      {
        margin: 0 auto;
        display: block;
        float: none;
      }
      .list-bottom-menu {
        padding: 10px 0;
        display: block;
      }
    }
  }
}
@media #{$mobile} {
  .section-space
  {
    padding: 25px 0;
  }
  .section1-wrap
  {
    width: 100%;
    padding-top: 55px;
    .section1-sub-wrap
    {
      background-color: rgba(0,0,0,0.5);
    }
    .section1-menu {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: $white;
      .top-menu-bar {
        height: 55px;
        width: 100%;
        background-color: $white;
      }
      .logo {
        width: 50%;
        height: 55px;
        float: left;
        img {
          height: auto;
          width: 100px;
          display: block;
          margin-top: 7px;
        }
      }
      .button-login-register {
        width: 50%;
        height: 55px;
        float: right;
        text-align: right;
        a {
          padding: 6px 10px 5px;
          border: 2px solid $gray-light;
          border-radius: 4px;
          color: $gray-light;
          font-family: $font-roboto !important;
          font-weight: $font-size-light;
          text-decoration: none;
          margin-top: 14px;
          font-size: 12px;
          margin-right: 0px;
          display: inline-block;
          text-transform: uppercase;
        }
        a:hover, a:active, a:focus {
          color: $white;
          border-color: $orange;
          background-color: $orange;
          opacity: 1 !important;
        }
      }
      .button-language {
        width: 50%;
        height: 55px;
        float: right;
        text-align: right;
        a {
          padding: 5px 20px !important;
        }
        button
        {
          margin-top: 9.5px;
          background-color: transparent;
          border: 1px solid $gray;
          color: $gray;
          border-radius: 4px;
        }
        button:focus,button:active
        {
          background-color: transparent;
          border: 1px solid $gray;
          color: $gray;
        }
      }
    }
    .landing-section1{
      width: 100%;
      min-height:300px !important;
      .landing-information
      {
        width: 100%;
        float: left;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        color: $white;
        font-family: $font-roboto;
        text-align: center;
        .form-control
        {
          width: 80%;
          margin: 0 10%;
        }
        h1{
          font-size: 30px;
          margin-bottom: 10px;
          font-weight: $font-size-light;

        }
        h2{
          font-size: 20px;
          margin-bottom: 28px;
          font-weight: $font-size-thin;
        }
      }
    }
  }
  .section2-wrap
  {
    .landing-section2{
      h1{
        font-size: 32px;
        margin:40px 0 10px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        font-weight: $font-size-light;
      }
    }
  }
  .section3-wrap
  {
    .landing-section3{
      h1{
        font-size: 28px;
        margin:20px 0;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        font-weight: $font-size-light;
      }
    }
  }
  .section4-wrap
  {
    .landing-section4{
      h1{
        font-size: 28px;
        margin:20px 0;
      }
    }
  }
  .section5-wrap {
    .landing-section5 {
      h1{
        font-size: 28px;
        margin:20px 0;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        font-weight: $font-size-light;
      }
      .item-wrap
      {
        width: 100%;
        height:auto;
        float: left;
        .item-box
        {
          text-align: center;
          width: 50%;
        }
      }
    }
  }
  .section6-wrap {
    .landing-section6 {
      h1 {
        font-size: 28px;
        margin:20px 0;
      }
      .news-box
      {
        margin-bottom: 40px;
        .right
        {
          float: left;
          width: 100%;
          padding: 20px 20px 10px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          .news-link
          {
            font-size: 18px;
            line-height:20px !important;
          }
          p{
            font-size: 12px;
            line-height:14px;
            margin-top: 20px;
          }
          img
          {
            width: auto !important;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
        }
        .left{
          float: left;
          width: 100%;
          a{
            display: block;
            float: none;
            margin-left: auto;
            margin-right: auto;
            img
            {
              width: auto !important;
              height: auto !important;
              margin-left: auto !important;
              margin-right: auto !important;
              display: block;
            }
          }
        }
      }
    }
  }
  .footer-wrap {
    .landing-footer {
      h1 {
        font-size: 22px;
        margin: 0 0 20px;
        font-weight: $font-size-light !important;
        br{
          display: none;
        }
      }
      .form-control
      {
        width: 80%;
        margin: 0 10% 10px;
      }
      .list-bottom-menu
      {
        padding: 10px 0;
        display: block;
        float: left;
        li{
          display: inline-block;
          padding: 5px 10px;
          a{
            text-align: center;
            color: $white;
            text-decoration: none;
            font-family: $font-roboto;
            font-size: 14px;
            font-weight: $font-size-light !important;
          }
        }
      }
      .list-social
      {
        list-style: none !important;
        display: inline;
        text-align: right;
        li{
          display: inline-block;
          padding: 0 10px;
          a{
            text-align: right;
            color: $white;
            text-decoration: none;
            font-family: $font-roboto;
            font-size: 18px;
            font-weight: $font-size-light !important;
          }
        }
      }
    }
  }
  .hide-mobile
  {
    display: none;
  }
  .show-mobile
  {
    display: block;
  }
  .form-spaces
  {
    margin-bottom: 20px;
  }
  .imgfull{ width: 80%; margin: 0 10%; }
  .btn-orange
  {
    width: 70%;
    margin: 0 15%;
  }
}
@media #{$small-mobile} {
  .btn-orange
  {
    width: 100%;
    margin: 0;
  }
  .imgfull{ width:100%; margin: 0; }
  .section1-wrap
  {
    .landing-section1{
      .landing-information
      {
        .form-control
        {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}



